body {
  font-family: sans-serif;
  text-align: center;
  background-color: #fafafa;
}

#board {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px auto;
  width: fit-content;
}

.rows {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
  display: flex;
  gap: 10px;
}

.pit, .store {
  width: 60px;
  height: 60px;
  background: #eee;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid #666;
}

.store {
  height: 140px;
  width: 60px;
  border-radius: 20px;
}